|      filepath      |            function            | passed | SUBTOTAL |
| ------------------ | ------------------------------ | -----: | -------: |
| test\test_train.py | test_label_distribution        |      1 |        1 |
| test\test_train.py | test_preprocessing             |      1 |        1 |
| test\test_train.py | test_data_slice                |      1 |        1 |
| test\test_train.py | test_nondeterminism_robustness |      1 |        1 |
| test\test_train.py | test_inference_performance     |      1 |        1 |
| test\test_train.py | test_mutamorphic_synonym       |      1 |        1 |
| TOTAL              |                                |      6 |        6 |
